#btop/
cable/
calibe/
cat_installer
cava/
chromium/
chromium-proxied/
Cod*/
dconf/
go/
google-chrome/
gtk*/
hexchat/
jellyfin*/
libreoffice/
menus/
mimeapps.list
procps/
pulse/
qBit*/
qt5ct/
qt6ct/
systemd/
Thunar/
uwsm/
VirtualBox/
vivaldi/
vlc/
weechat/
wireshark/
xdg-desktop-portal/
xfce*/
yay/
*~
*.bak
*.save0
