@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: "FiraCode Nerd Font Mono";
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}


#memory,
#temperature,
#wireplumber,
#battery,
#backlight,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

/* Local Variables: */
/* eval: (if config-module-managed-dotfiles (add-hook 'after-save-hook 'chezmoi-write nil t)) */
/* End: */
