configuration {
  modi: "window,drun,ssh,keys,filebrowser,recursivebrowser,combi";
  combi-modi: "window,drun,ssh,keys,filebrowser,recursivebrowser";
  show: "combi";
}
@theme "/usr/share/rofi/themes/Monokai.rasi"
